@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
* {
  box-sizing: border-box;
}

body {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
}

#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  right: 100;
  bottom: 100;
  width: 100vw;
  height: 100vh;
  background-color: #131324;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -100;
}

/* Add some content at the bottom of the video/page */

.content {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1%;
  background: rgba(1, 1, 14, 0.692);
  color: rgba(168, 2, 2);
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headMenu {
  margin-right: 22%;
}

a:hover {
  text-decoration: none !important;
}

button.btn.btn-primary.float-right {
  width: 150%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15%;
}

.rounded-circle {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

h1 {
  top: 0;
  left: 0;
  font-size: 200% !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
  top: 0;
  left: 0;
  padding: 1%;
  margin: 0%;
  color: #e8e8e8;
  font-size: 3em !important;
}

.homePara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17vh;
  margin-right: 10%;
  max-width: 40vw;
  float: right;
  border-radius: 2em;
  padding-left: 3%;
  font-family: 'Parisienne', cursive;
}

img {
  height: 130%;
}

.subscribe {
  width: 23vw;
  height: 40vh;
  margin-left: 18%;
  margin-top: 20vh;
  animation: fadeIN 3s infinite ease-out;
}

@keyframes fadeIN {
  0% {
    transform: scaleY(1.11);
  }
  50% {
    transform: scaleY(1.15);
  }
  100% {
    transform: scaleY(1.11);
  }
}

.sections {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: -20rem;
}

.embed-responsive {
  max-width: 48% !important;
}

iframe {
  width: 100% !important;
  margin: 0 auto;
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 99;
}

#loading-image {
  position: absolute;
  width: 8%;
  height: 15%;
  z-index: 100;
}

.footerIcons {
  width: 3%;
  margin-right: 2%;
  transition: transform 0.5s;
}

.footerIcons:hover {
  transform: translateY(-20%);
}

footer {
  position: absolute;
  text-align: center;
  width: 99%;
  margin-top: 93vh;
  background: transparent;
}

/* Responsive ------------------------------------- */

@media screen and (max-width: 1024px) {
  img.rounded-circle {
    width: 35vw;
  }
  div.menu {
    width: 80vw;
    margin-left: 8vw;
  }
  a.headMenu {
    margin-right: 10%;
    font-size: 1rem;
  }
  form.headMenu {
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  button.btn.btn-primary.float-right.d-flex.flex-row {
    font-size: 0.8rem;
    padding-right: 0% !important;
    padding-left: 35% !important;
    width: 16vw;
  }
  .subscribe {
    width: 45vw;
    height: 30vh;
    margin-left: 5%;
    margin-top: 15vh;
  }
  p.homePara {
    font-size: 2.8em !important;
    padding-left: 0%;
  }
  footer {
    margin-top: 90vh;
    margin-right: 0% !important;
  }
  .footerIcons {
    width: 8%;
  }
}

@media screen and (max-width: 985px) {
  img.rounded-circle {
    width: 35vw;
  }
  div.menu {
    width: 80vw;
    margin-left: 8vw;
  }
  a.headMenu {
    margin-right: 10%;
    font-size: 0.7rem;
  }
  form.headMenu {
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  button.btn.btn-primary.float-right.d-flex.flex-row {
    font-size: 0.5rem;
    padding-right: 0% !important;
    padding-left: 35% !important;
    width: 16vw;
  }
  .subscribe {
    width: 45vw;
    height: 30vh;
    margin-left: 5%;
    margin-top: 15vh;
  }
  p.homePara {
    font-size: 2em !important;
    padding-left: 0%;
  }
  footer {
    margin-top: 90vh;
    margin-right: 0% !important;
  }
  .footerIcons {
    width: 10%;
  }
}

@media screen and (max-width: 566px) {
  img.rounded-circle {
    width: 35vw;
  }
  div.menu {
    width: 80vw;
    margin-left: 2vw;
  }
  a.headMenu {
    margin-right: 10%;
    font-size: 0.6rem;
  }
  form.headMenu {
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  button.btn.btn-primary.float-right.d-flex.flex-row {
    font-size: 0.5rem;
    padding-right: 0% !important;
    padding-left: 30% !important;
    width: 16vw;
  }
  .subscribe {
    width: 45vw;
    height: 30vh;
    margin-left: 5%;
    margin-top: 15vh;
  }
  p.homePara {
    font-size: 2em !important;
    padding-left: 0%;
  }
  footer {
    margin-top: 90vh;
    margin-right: 0% !important;
  }
  .footerIcons {
    width: 10%;
  }
}

@media screen and (max-width: 520px) {
  body {
    background-image: url('../pictures/device_bg.jpeg');
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  video, #myVideo {
    display: none;
  }
  div.container {
    display: flex;
    flex-direction: column;
  }
  img.rounded-circle {
    width: 90vw;
  }
  div.menu {
    width: 90vw;
    margin-left: 12vw;
  }
  a.headMenu {
    margin-right: 10%;
    font-size: 0.7rem;
  }
  form.headMenu {
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  button.btn.btn-primary.float-right.d-flex.flex-row {
    font-size: 0.5rem;
    padding-right: 0% !important;
    padding-left: 25% !important;
    width: 16vw;
  }
  .subscribe {
    width: 45vw;
    height: 30vh;
    margin-left: 5%;
    margin-top: 15vh;
  }
  .homePara {
    margin-right: 2%;
  }
  p.homePara {
    font-size: 1.1em !important;
    padding-left: 0%;
  }
  footer {
    margin-top: 90vh;
    margin-right: 0% !important;
  }
  .footerIcons {
    width: 15%;
  }
}

@media screen and (max-width: 395px) {
  body {
    background-image: url('../pictures/device_bg.jpeg');
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  video, #myVideo {
    display: none;
  }
  div.container {
    display: flex;
    flex-direction: column;
  }
  img.rounded-circle {
    width: 90vw;
  }
  div.menu {
    width: 90vw;
    margin-left: 12vw;
  }
  a.headMenu {
    margin-right: 10%;
    font-size: 0.6rem;
  }
  form.headMenu {
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  button.btn.btn-primary.float-right.d-flex.flex-row {
    font-size: 0.5rem;
    padding-right: 0% !important;
    padding-left: 20% !important;
    width: 16vw;
  }
  .subscribe {
    width: 45vw;
    height: 30vh;
    margin-left: 5%;
    margin-top: 15vh;
  }
  .homePara {
    margin-right: 2%;
  }
  p.homePara {
    font-size: 1.1em !important;
    padding-left: 0%;
  }
}

@media screen and (max-width: 295px) {
  body {
    background-image: url('../pictures/device_bg.jpeg');
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  video, #myVideo {
    display: none;
  }
  div.container {
    display: flex;
    flex-direction: column;
  }
  img.rounded-circle {
    width: 90vw;
  }
  div.menu {
    width: 90vw;
    margin-left: 12vw;
  }
  a.headMenu {
    margin-right: 10%;
    font-size: 0.5rem;
  }
  form.headMenu {
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  button.btn.btn-primary.float-right.d-flex.flex-row {
    font-size: 0.5rem;
    padding-right: 0% !important;
    padding-left: 11% !important;
    width: 16vw;
  }
  .subscribe {
    width: 45vw;
    height: 30vh;
    margin-left: 5%;
    margin-top: 15vh;
  }
  .homePara {
    margin-right: 2%;
  }
  p.homePara {
    font-size: 1.2em !important;
    padding-left: 0%;
  }
}