<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Styles/styleFile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Programming God</title>
</head>
<body>
    <% JSON.stringify(results); results.forEach(function(o) { var title=o.title; var content=o.content; %>
    <header>
        <div id="myBg">
            <img src="../pictures/article.jpg" alt="Article">
        </div>
        <div class="content">
            <div class="container">
                <div class="logo">
                    <a href="/"> <img alt="Alex Brasil" src="./pictures/logo.png" class="rounded-circle"> </a>
                </div>
                <div class="menu">
                    <a class="headMenu" href="/">Home</a>
                    <a class="headMenu" href="/playlist">Videos</a>
                    <a class="headMenu" href="articles" style="color: rgba(3, 75, 182, 0.856);">Articles</a>
                    <a class="headMenu" href="/tutoring">Tutoring</a>
                    <form class="headMenu" action="/signUp" method="POST">
                        <button id="sUbtn" type="submit" class="btn btn-primary float-right">Sign Up</button>
                    </form>
                </div>
            </div>
            <p class="homeParaV">
                <%=title %>
            </p>
        </div>
    </header>
    <div class="container text-light bg-dark pb-2 pt-3 pl-5 rounded">
        <pre class="text-light text-justify"><%=content%></pre>
        <%  });  %> 
    </div>  
</body>
</html>