<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Styles/styleFile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Programming God</title>
</head>
<body>
    <header>
        <div id="myBg">
            <img src="../pictures/order.jpg" alt="Articles">
        </div>
        <div class="content">
            <div class="container">
                <div class="logo">
                    <a href="/"> <img alt="Alex Brasil" src="./pictures/logo.png" class="rounded-circle"> </a>
                </div>
                <div class="menu">
                    <a class="headMenu" href="/">Home</a>
                    <a class="headMenu" href="/playlist">Videos</a>
                    <a class="headMenu" href="/articles">Articles</a>
                    <a class="headMenu" href="#" style="color: rgba(3, 75, 182, 0.856);">Tutoring</a>
                    <form class="headMenu" action="/signUp" method="POST">
                        <button id="sUbtn" type="submit" class="btn btn-primary float-right">Sign Up</button>
                    </form>
                </div>
            </div>
            <p class="homeParaV text-danger">
                Cancelled
            </p>
        </div>
    </header>
    <div class="container text-danger text-center introPlaylist rounded">
        <form action="/tutoring" method="GET">
            <button class="btn btn-primary mb-3" type="submit"> &larr; Go back to Tutoring Request</button>
        </form>
        <h2>Your order was cancelled!</h2>
    </div>
    <footer class="paymentConfirm">
        If you have any questions, please email<br>
        <a href="mailto:alexfbrazil123@gmail.com">alexfbrazil123@gmail.com</a>
    </footer>
</body>
</html>