<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./Styles/styles2.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <title>Programming God</title>
    </head>

    <body>
        <video autoplay muted loop id="myVideo">
            <source src="./homeVideo.mp4" type="video/mp4">
        </video>
        <div class="content">
            <div class="container">
                <div class="logo">
                    <img alt="Alex Brasil" src="./pictures/logo.png" class="rounded-circle"> 
                </div>
                <div class="menu">
                    <a class="headMenu" href="#" style="color: rgba(3, 75, 182, 0.856);">Home</a>
                    <a class="headMenu" href="/playlist">Videos</a>
                    <a class="headMenu" href="/articles">Articles</a>
                    <a class="headMenu" href="/tutoring">Tutoring</a>
                    <form class="headMenu" action="/signUp" method="POST">
                        <button id="sUbtn" type="submit" class="btn btn-info float-right d-flex flex-row">Sign Up</button>
                    </form>
                </div>
            </div>
            <a href="https://www.youtube.com/channel/UC-5N7PgDO_22jgm3RCq1_gw" target="_blank">
                <img src="./pictures/subscribe.png" alt="Subscribe" class="subscribe">
            </a> 
            <p class="homePara">
                “Let’s go invent tomorrow instead of worrying about
                what happened yesterday.”<br>
                &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; - Steve Jobs
            </p>
        </div>
        <hr class="text-black-50">
        <footer>
            <a href="https://www.linkedin.com/in/alexdbrasil/" target="_blank"><img src="./pictures/Linkedin.png" alt="linkedin" class="footerIcons"></a>
            <a href="" target="_blank"><img src="./pictures/github.png" alt="github" class="footerIcons"></a>
            <a href="" target="_blank"><img src="./pictures/facebook.png" alt="facebook" class="footerIcons"></a>
        </footer>
    </body>
</html>