<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Styles/styleFile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <title>Programming God - Sign Up</title>
</head>
<body onload="subBtn()" >
    <header>
        <div id="myBg">
            <img src="../pictures/sign.jpg" alt="Articles">
        </div>
        <div class="content">
            <div class="container">
                <div class="logo">
                    <a href="/"> <img alt="Alex Brasil" src="./pictures/logo.png" class="rounded-circle"> </a>
                </div>
                <div class="menu">
                    <a class="headMenu" href="/">Home</a>
                    <a class="headMenu" href="/playlist">Videos</a>
                    <a class="headMenu" href="/articles">Articles</a>
                    <a class="headMenu" href="tutoring">Tutoring</a>
                    <form style="display: none;" class="headMenu" action="/signUp" method="POST">
                        <button id="sUbtn" type="submit" class="btn btn-info float-right">Sign Up</button>
                    </form>
                </div>
            </div>
            <p class="homeParaV">
                Sign Up
            </p>
        </div>
    </header>
    <form id="signForm" class="d-flex flex-column badge badge-dark p-4" action="/signUp" method="POST">
        <p class="d-flex justify-content-center h6" style="color: red;">* The email entered is already registered. Try a different email address...</p>
        <label class="d-flex"> First Name:</label>
        <input type="text" class="form-control" name="fName" id="userFname" onchange="subBtn()" required>
        <br>
        <label class="d-flex">Last Name:</label>
        <input type="text" class="form-control" name="lName" onchange="subBtn()" required>
        <br>
        <label class="d-flex">Email Address:</label>
        <input type="email" class="form-control" name="emailAdd" id="userEmail" onchange="subBtn()" required>
        <br>
        <div class="container custom-control custom-checkbox d-flex">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" onchange="subBtn()" required> 
            <label class="custom-control-label" for="defaultUnchecked">
                <h6>
                    <a data-toggle="popover" data-trigger="hover" data-content="I agree to receive emails from Programming God every time a new video or article is posted.">
                        I agree to the Terms & Conditions.
                    </a>
                </h6>
            </label> 
        </div>
        <br>
        <br>
        <button id="signBtn" class="btn btn-outline-success" type="submit">Submit</button>
    </form>
    <script src="Scripts/Jqry.js"></script>
</body>
</html>